@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GmarketSansMedium', sans-serif;
}

.title {
  font-size: 20px;
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  position: relative;
  width: 300px;
  height: 520px;
  padding: 10px;
  margin: 10px;
  background-color: #3e4750;
  overflow: hidden;
}

.movie > img {
  width: 100%;
}

.movie > h3 {
  color: #fff;
  text-align: center;
}

.movie > span {
  position: absolute;
  right: 10px;
  bottom: 79px;
  padding: 3px;
  background-color: #a0c8f1;
  font-size: 12px;
}

.movie > p {
  position: absolute;
  top: -10px;
  left: 0;
  height: 540px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  transform: translateY(800px);
  transition: transform 0.5s linear;
}

.movie:hover > p {
  transform: translateY(0);
}
